*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #3e94e4;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}

header{
    padding: 1rem;
}

main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

.bloco{
    background-color: #2565bf;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: min-content;
}

input{
    padding: 0.3rem;
    border-radius: 0.25rem;
    border: none;
    font-size:1.1rem;
    width: 4rem;
}

button{
    padding: 0.6rem;
    border-radius: 0.25rem;
    background-color:#0b336a;
    color: white;
    border-style: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-weight: bold;
}

button:hover{
    background-color: #094a8c;
    transition: background-color 0.3s;
}

footer{
    margin-top: 1.2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Valores e Botao Finalizar */
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    overflow: auto;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.2rem;
}


/* RESULTADO */
#valores{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:flex-end ;
    gap: 2rem;
    margin-top: 1rem;
}

#analise{
    font-size: 1.25rem;
    margin: 1rem 2rem;
}


