@import url("button.css");   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --contorno: inset 0 0 0 2px rgb(102, 102, 102);
    --primaria: rgb(219, 218, 218);
    --secundaria: rgb(189, 188, 188);
    --terciaria: rgb(139, 139, 139);
}

body{
    background-color: rgb(9, 37, 77);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculadora{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    width: auto;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 3rem;
}

#visor{
    display: flex;
    justify-content: right;
    width: 17.5rem;
    height: auto;
    font-size: 3rem;
    margin-bottom: 1rem;
    box-shadow: var(--contorno);
    border-radius: 0.3rem;
    padding: 0.8rem;
}

#exibicao{
    overflow-x: auto;
    white-space: nowrap;
}

/* setando cada linha  */


footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 1rem;
    margin-top: 2rem;
}