:root{
    /* O root permite automatizar alteração de cores e estilos dentro do css
    quando ocorre muita repeticao, pois a mesma cria "var" globais que são chamados na folha */
    --text: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --bg: #ffffff;
}

*{
    /* o seletor * é universal e se aplica a todos os elementos que nao possuem um seletor especifico*/
    color: var(--fontColor);
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: var(--bg);
}

li {
list-style: circle;
}

.list {
    /*Uso comum para definição de estilo específico em elementos. Também nos permitem associar um ao outro.*/
list-style: square;
}

#msg {
    /* ID é um tipo de seletor único, como o CPF, que é associa exclusivamente para um elemento */
font-family: monospace;
}

.light-theme {
--bg: var(--white);
--fontColor: var(--black);
--btnFontColor: var(--white);
--btnBg: var(--black);
}

.dark-theme {
--bg: var(--black);
--fontColor: var(--text);
--btnFontColor: var(--black);
--btnBg: var(--white);
}


.btn {
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 40%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}