:root{
    /* O root permite automatizar alteração de cores e estilos dentro do css
    quando ocorre muita repeticao, pois a mesma cria "var" globais que são chamados na folha */
    --text: #00FF00;
    --white: #ffffff;
    --black: #000000;
    --bg: #ffffff;
}

*{
    /* o seletor * é universal e se aplica a todos os elementos que nao possuem um seletor especifico*/
    color: var(--fontColor);
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section{
    width: 350px;
}

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}

li {
    list-style: circle;
}

.list {
    /*Uso comum para definição de estilo específico em elementos. Também nos permitem associar um ao outro.*/
    list-style: square;
}

#msg {
    /* ID é um tipo de seletor único, como o CPF, que é associa exclusivamente para um elemento */
    font-family: monospace;
}

.light-theme {
    --bg: var(--white);
    --fontColor: var(--black);
    --btnFontColor: var(--white);
    --btnBg: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--text);
    --btnFontColor: var(--black);
    --btnBg: var(--white);
}

#btn {
    padding: 20px;
    border-radius: 2rem;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

#btn:focus {
    outline-style: none;
}