:root{
    --cor-text: white;
    --cor-perfil: #5d5d5d;
    --cor-links: #ff0000;
    --cor-bars: rgba(0, 68, 169, 1);
    --cor-footer: rgba(0, 47, 115, 1);
}

*{
    padding: 0;
    margin: 0;
    color: var(--cor-text);
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h1{
    color: var(--cor-text);
    text-align: center;
}

header{
    background-color: var(--cor-bars);
    padding: 1rem;
}

/* Configurações do Perfil */
.div-perfil h2{
    font-size: 1.2rem;
    color: var(--cor-perfil);
}

#container-perfis{
    height: 74vh; /*altura*/
    width: 100vw; /*largura*/
    text-align: center;/* disposicao do texto */

    display: flex;/* para a div pai, os elementos filhos serão organizados na mesma linha */
    justify-content: center;/* disposicao horizontal em em flex direction = row*/
    align-items: center;/* disposicao vertical em em flex direction = row */
    flex-wrap: wrap; /* para quebrar a linha quando necessário */
    gap: 10%;/* espaçamento entre os items*/
}

.img-perfil{/*Classe para definir os padrãoes das imagens dos perfis*/
    width: 15.6rem;
    height: 15.6rem;
    margin-bottom: 1rem;
    border-radius: 80%;
}

.div-perfil:hover{/*Classe para div do perfil aumentar quando mouse estiver em cima*/
    transform: scale(1.125);
    transition: all 0.7s ease-in-out;
    cursor: pointer; 
}

#perfil-1:hover{
    img{
        filter: drop-shadow(0 0 1rem red);
    }
}

#perfil-2:hover{
    img{
        filter: drop-shadow(0 0 1rem rgb(0, 81, 255));
    }
}

/*Configurações do Rodapé*/

footer{
    padding: 4rem;
    background-color: var(--cor-footer);
}

footer h2{
    font-size: 1.1rem;/* tamanho da fonte */
    font-weight: bold;/* peso da fonte */
}

footer a{
    text-decoration: none;
    display: block;
}

footer a:hover{
    color: var(--cor-links);
    text-decoration: underline;
}

/* divs internas do footer */
#container-footer{
    display: flex;
    justify-content: space-around;
}

/* elementos da div img + endereço da Unisanta*/
#footer-unisanta{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 1rem;
}

#endereco-unisanta{
    max-width: 250px;
}

#endereco-unisanta p{/*combinador descendente, todos os p na descendência do id receberão...*/
    margin-bottom: 1rem;
}
