*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin-left: 1rem;
}

h1{
    display: inline;
}

h2{
    margin: 1.5rem 0 0.5rem 0;
    border-bottom: 1px solid black;
}

ul{
    margin-left: 1.5rem;
}

/*Texto Formações ------------*/
div{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

.descricao-formacao{
    display: flex;
    flex-direction: column;
}

.descricao-formacao>p{
    font-style: italic;
    font-size: 1.1rem;
}

/* Links --------------------*/
a{
    color:#000000; 
    font-weight: bolder;
    font-size:1.25rem;
}

a:hover{
    color: #f10707;
}

.paginas{
    font-size: 1.5rem;
}

/* Imagens --------------------*/
#foto-perfil{
    border-radius: 90%;
    margin-top: 1rem;
}

.img-formacao, .img-certify{
    float: left;
    margin-right: 1rem;
}

/* Tabela --------------------*/
table{
    border: 1px solid black;
    border-collapse: collapse;
}

tr th{ 
    color: white;
    background-color: black;
}

tr td{
    border: 0.1rem solid #000000;
    width: 13rem;
}

/* Formulario --------------------*/
form{
margin-bottom: 1rem;
}

textarea, input[type="email"]{
    width: 25rem;
    padding: 0.25rem;
    margin-bottom: 0.7rem;
}

label{
    display: block;
    font-weight: bolder;
    font-size: 1.2rem;
}

textarea{
    display: block;
    height: 5rem;
    resize: none;
}

::placeholder{
    font-size: 1rem;
    font-style: italic;
}

button{
    background-color:black;
    color: white;
    font-size: 1.125rem;;
    padding: 0.5rem;
}

button:hover{
    background-color:#f10707;
    color: white;
}
